<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAw8I08DAePClEFaVZeTec4zCDXy48IG1k</string>
	<key>GCM_SENDER_ID</key>
	<string>574848754741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eClothing</string>
	<key>PROJECT_ID</key>
	<string>clothing-app-bc7cd</string>
	<key>STORAGE_BUCKET</key>
	<string>clothing-app-bc7cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574848754741:ios:b685e139217da0f0c2fd7c</string>
</dict>
</plist>